.container {
	position: relative;
	&:after {
		content: '';
		position: absolute;
		transform: scaleY(0.5);
		-webkit-transform: scaleY(0.5);
		-moz-transform: scaleY(0.5);
		-ms-transform: scaleY(0.5);
		border-top: 1px solid rgba(255, 255, 255, 0.12);
		left: 8px;
		right: 8px;
		bottom: 0;
		height: 1px;
	}
}
.wrapper {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 20px 0;
}
.content-section {
	width: 624px;
	margin-left: 12px;
	position: relative;
	flex: 1 1 624px;
}
.header-section {
	display: flex;
	// justify-content: space-between;
	flex-direction: column;
	align-items: flex-start;
	margin-right: 114px;
}
//user info section
.user-section {
	display: flex;
	align-items: center;
	height: 30px;
	&:hover > p {
		text-decoration: underline;
	}
	& > span {
		color: rgba(255, 255, 255, 0.9);
	}
}

.avatar-section:hover ~ .content-section .header-section .user-section p {
	text-decoration: underline;
}
.avatar-section {
	// width: 56px;
	// border-radius: 999px;
}
.info-section {
	display: flex;
	justify-content: center;
	align-self: center;
}

.avatar {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	object-fit: cover;
}

.follow-btn {
	border-radius: 4px;
	height: 28px;
	position: absolute;
	top: 0;
	right: 0;
}
.song-name {
	// display: inline;
	display: flex;
	flex-direction: row;
	align-items: center;
	font-weight: 600;
	font-size: 16px;
	line-height: 22px;
	margin-top: 4px;
	cursor: pointer;
}
.icon {
	font-size: 1.4rem;
	font-weight: 600;
}
