.modal-content {
	margin: auto;
	width: 375px;
}
//login section
.login-section {
	& > p {
		color: rgba(255, 255, 255, 0.9);
		font-family: SofiaPro, Arial, Tahoma, PingFangSC, sans-serif;
		font-size: 32px;
		margin: 16px auto;
		font-weight: bold;
		text-align: center;
	}
}

.menu-item {
	color: rgba(255, 255, 255, 0.9);
	font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
	font-weight: 600;
	border: 1px solid rgba(255, 255, 255, 0);
	font-size: 15px;
	padding: 0px 12px;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	height: 44px;
	cursor: pointer;
	margin-bottom: 16px;
	word-break: keep-all;
	white-space: nowrap;
	background: rgb(46, 46, 46);
	position: relative;
}
.icon {
	position: absolute;
	left: 12px;
}
