.menu-item {
	display: flex;
	align-items: center;
	font-size: 1.8rem;
	font-weight: 700;
	border-radius: 4px;
	transition: background-color ease-in-out 200ms;
	padding-bottom: 5px;

	&.active {
		color: var(--primary);

		.icon {
			display: none;
		}

		.active-icon {
			display: flex;
		}
	}
	&:hover {
		background-color: rgba(var(--text-color-rgb), 0.04);
	}
}

.title {
	padding: 8px;
	display: flex;
	align-items: center;
}

.icon,
.active-icon {
	display: flex;
}
.active-icon {
	display: none;
}
