.content {
	display: flex;
	justify-content: center;
	padding: 2rem;
}
.icon {
	background: transparent;
	cursor: pointer;
	font-size: 2.4rem;
	animation: spin 2s linear infinite;
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
