.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: var(--default-layout-header-height);
	width: 100%;
}
.wrapper-content {
	width: 100%;
}
.container {
	display: flex;
	// justify-content: space-between;
	width: var(--default-layout-width);
	// padding: 0 var(--default-layout-horizontal-spacer);
	padding-left: 8px;
	width: 100vw;
}

.sidebar-content {
	max-width: 240px;
}
.content {
	flex: 1;
	// width: 692px;
	// max-width: 692px;
	margin-left: -8px;
}
